
body {
    background-color: rgb(33, 32, 32);
    color: white;
    text-align: center;
    font-size: 1rem;
}

#main {
    margin: auto;
    width: 350px;
    background-color: rgb(62, 92, 119);
    border-radius: 5%;
}

.pair {
    display: flex;
    align-self: center;
    margin-inline: 25px;
}

.pair input {
    height: min-content;
    width: 100px;
    align-self: center;
    margin-left: 15px;
}
