
body {
    background-color: rgb(33, 32, 32);
    color: white;
    text-align: center;
    font-size: 1rem;
}

#main {
    margin: auto;
    width: 350px;
    height: 350px;
    background-color: rgb(62, 92, 119);
    border-radius: 5%;
}


#chipinfo {
    display: flex;
}

#editpairs button {
    width: 108px;

}


#values, #addpair {
    width: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

#amounts, #subtractpair {
    width: 100px;
    margin-right: 50px;
}


#chipinfo input, #editpairs button {
    width: 92px;
}